.iconjar { background-image: url(png/jar.png); background-repeat: no-repeat; }

.iconjar_bg { background-image: url(png/jar_bg.png); background-repeat: no-repeat; }

.iconlollipop { background-image: url(png/lollipop.png); background-repeat: no-repeat; }

.iconlollipop_white { background-image: url(png/lollipop_white.png); background-repeat: no-repeat; }